.leaflet-ruler{
  height: 2.25rem;
  width: 2.25rem;
  background-image: url("/ruler_icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
.leaflet-control-zoom-in{
  background-color: rgba(17, 17, 17, 0.6) !important;
  box-shadow: 0px 0px 1px 1px white !important;
}

.leaflet-control-zoom-in span{
  color: white;
  opacity: 0.7;
}
.leaflet-control-zoom-in span:hover{
  opacity: 1;
}

.leaflet-control-zoom-out span{
  color: white;
  opacity: 0.7;
}
.leaflet-control-zoom-out span:hover{
  opacity: 1;
}
.leaflet-control-zoom-out{
  background-color: rgba(17, 17, 17, 0.6) !important;
  box-shadow: 0px 0px 1px 1px white !important;
  color: white !important;
}

.leaflet-ruler:hover{
  background-image: url("/ruler_icon-colored.png");
}
.leaflet-ruler-clicked{
  height: 2.25rem;
  width: 2.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/ruler_icon-colored.png");
  border-color: chartreuse !important;
}
.leaflet-bar{
  background-color: rgba(17, 17, 17, 0.6);
}
.leaflet-control {
  cursor: pointer;
  background-color: rgba(17, 17, 17, 0.6);
  color: white;
}
.result-tooltip{
  background-color: rgba(17, 17, 17, 0.6);;
  border-width: medium;
  border-color: #de0000;
  font-size: smaller;
}
.moving-tooltip{
  background-color: rgba(17, 17, 17, 0.6);;
  background-clip: padding-box;
  opacity: 0.5;
  border: dotted;
  border-color: red;
  font-size: smaller;
}
.plus-length{
  padding-left: 2.8125rem;
}
